.contact-page {
    width: 69vw;
    margin-top: -3.555vh;
    margin-left: 25.5vw;
}

/* @media (max-height: 900px) {
    .contact-page {
        margin-top: -2.5rem;
        height: 44.5rem;
    }
}

@media (max-width: 767px) {
    .contact-page {
      margin-left: 5rem;
    }
  }  */