.contact-page {
    width: 76.875rem;
    height: 47.5rem;
    margin-top: -1.875rem;
    margin-left: 25vw;
}

@media (max-height: 900px) {
    .contact-page {
        margin-top: -2.5rem;
        height: 44.5rem;
    }
}

@media (max-width: 767px) {
    .contact-page {
      margin-left: 5rem;
    }
  } 