@import url('variables.css');

/* @media (max-height: 900px) {
    .main-container {
        margin-top: -2rem;
    }
} */

.main-container {
    margin-left: 20vw;
}

.top-bar {
    position: relative;
    height: 10vh;
    width: 70vw;
    margin-left: 6%;
    border-radius: 50px 50px 0 0;
    border: var(--main-border);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* @media (max-height: 900px) {
    .top-bar {
        margin-left: 7%;
    }
} */

.search-title {
    font-family: var(--font-futura);
    /* font-size: 60px; */
    font-size: 3vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: auto;
    margin-left: 4vw;
}

.typing {
    display: inline-block;
    animation: typing-animation 0.75s infinite alternate;
    margin-left: -2%;
}

@keyframes typing-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#searchIcon {
    margin-left: 2vw;
    width: 4.5vw;
}

#videoMapIcon {
    margin-right: 2vw;
    margin-top: 1.5vh;
    width: 4.5vw;
    cursor: pointer;
}

.video-map-note {
    position: absolute;
    top: 10%;
    left: 93.6%;
    transform: translate(-50%, -50%);
    font-family: var(--font-futura);
    font-size: 0.7vw;
}

/* @media (min-width: 400px) {
    .video-map-note {
        left: 93.4%;
    }
} */

.bottom-bar {
    position: relative; 
    border: var(--main-border);
    background-color: var(--color-purple);
    background-image: url('../assets/homepageBackgroundSquares.png'); 

    /* background-position: bottom center;  */
    background-repeat: no-repeat; 
    /* background-size: 113%; */
    background-position-y: -10vh;
    background-position-x: 26vw;
    background-size: 48vw;

    margin-top: -0.3vh;
    margin-left: 6%;
    padding-bottom: 4vh;
    width: 70vw;
    /* height: 64vh; */
}

/* for mobile devices */
/* @media (max-width: 767px) { 
    .top-bar, .bottom-bar {
        width: 290vw;
    }
  } 

@media (max-height: 900px) {
    .bottom-bar {
        margin-left: 7%;
        height: 37.6rem;
    }
} */

.content-wrapper {
    display: flex;
    gap: 1.5vw;

}

.left-column {
    flex: 1;
    margin-left: 0;
    padding-left: 1.5vw;
    margin-top: 3vh;
}

/* @media (max-height: 900px) {
    .left-column {
        margin-top: 4.5%;
    }
} */

.text-box {
    text-align: left;
    border-radius: 20px;
    border: var(--main-border);
    background-color: var(--color-pink);
    color: var(--color-white);
    padding: 2.37vh 1.493vw;
    font-family: var(--font-futura);
    font-size: 1.23vw;
    width: 18vw;
}

.right-column {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.washSqSubway-desktop {
    position: absolute;
    text-align: right;
    margin-top: 5vh;
    color: white;
    font-family: var(--font-futura-maxi);
    font-size: 1.23vw;
}

.washSqSubway-desktop img {
    width: 14vw;
}

.washSqSubway-desktop p {
    margin-bottom: 0;
}

.location-info {
    width: 19vw;
    text-align: left;
    color: var(--color-white);
    margin-top: 25vh;
    font-family: var(--font-futura);
    font-size: 1.23vw;
}

.location-info img {
    vertical-align: middle;
}

.highlightHP {
    font-family: var(--font-futura-maxi);
}