@import url('variables.css');

.top-mailin-mobile {
    margin-top: 5vh;
    position: relative;
    /* height: 15vh; */
    height: 5vh;
    border-radius: 50px 50px 0 0;
    border-top: var(--main-border);
    border-left: var(--main-border);
    border-right: var(--main-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-futura);
    background-color: var(--color-blue);
}

.bottom-mailin-mobile {
    position: relative;
    margin-top: -1px;
    border-left: var(--main-border);
    border-right: var(--main-border);
    border-bottom: var(--main-border);
    display: flex;
    flex-direction: column;
    font-family: var(--font-futura);
    background-color: var(--color-blue);
    padding: 8px;
}

.bottom-mailin-mobile img {
    position: relative;
    left: 47%;
    width: 50%;
}

.bottom-mailin-mobile h2 {
    color: black;
    padding: 10px;
}

.bottom-mailin-mobile p {
    font-size: 22px;
    padding: 10px;
}

.video-container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoMobile {
    max-width: 100%;
    width: 61vw;
    height: 50vh;
}

.startOrder-mobile,
.downloadTemplate {
    background-color: var(--color-yellow);
    font-family: var(--font-futura);
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.downloadTemplate {
    margin-top: 4vh;
}

.startOrder-mobile {
    margin-left: 2vw;
    margin-bottom: 1vh;
}

.startOrder-container-mobile {
    display: flex;
    justify-content: center;
}

.startOrder-container-mobile a, .startOrder-mobile a {
    text-decoration: none;
}

.downloadTemplate {
    margin-bottom: 3vh;
}