@import url('variables.css');

.prices {
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}
.prices-title, .prices-addons-title {
    color: var(--color-price-title-blue);
    font-family: var(--font-futura-maxi);
    font-size: 17px;
    margin-bottom: 0.5vh;
}

.prices-addons-title, .prices-addons-price {
    color: var(--color-purple);
}

.prices-addons-price {
    font-family: var(--font-futura-maxi);
    width: 73px;
    flex-shrink: 0;
}

.prices-row,
.prices-row-2,
.prices-row-3,
.prices-row-4,
.prices-row-5,
.prices-row-6 {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
}