@import url('variables.css');

.prices-list {
    margin-top: 20px;
}

.prices-list-top {
    gap: 42px;
    padding: 30px;
    display: flex;
    text-align: left;
}

.prices-top-item {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    flex: 1;
}

.prices-top-item-title {
    color: #095290;
    font-family: var(--font-futura-maxi);
    font-size: 25px;
}

.prices-top-item-row,
.prices-top-item-row-2,
.prices-top-item-row-3,
.prices-top-item-row-4,
.prices-top-item-row-5,
.prices-top-item-row-6 {
    display: flex;
    gap: 9px;
}

.prices-price {
    color: #095290;
    font-family: var(--font-futura-maxi);
    width: 73px;
}

.prices-description {
    color: #f5f5f5;
    font-family: var(--font-futura);
    font-weight: 500;
    flex-grow: 1;
    flex-basis: auto;
}

.prices-list-bottom {
    gap: 65px;
    padding: 30px;
    display: flex;
    text-align: left;
    font: 20px Futura, sans-serif;
}

@media (max-height: 900px) {
    .prices-list-bottom {
        gap: 100px;
    }
}

.prices-more-title {
    color: #095290;
    font-family: var(--font-futura-maxi);
    font-size: 25px;
}

.prices-more-item-row,
.prices-more-item-row-2,
.prices-more-item-row-3,
.prices-more-item-row-4 {
    display: flex;
    gap: 9px;
}

.rush-list {
    flex-grow: 1;
}

.rush-title {
    color: #8A2BE2;
    font-family: var(--font-futura-maxi);
    font-size: 25px;
}

.rush-item-row,
.rush-item-row-2,
.rush-item-row-3 {
    display: flex;
    gap: 9px;
}

.rush-price {
    color: #8A2BE2;
    font-family: var(--font-futura-maxi);
    /* font-weight: 800; */
    width: 73px
}