.main-container-mobile {
    padding: 0;
    margin: 0;
}

/* .main-container-mobile a {
    color: white;
} */

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome {
    background-color: white;
    border: 4px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-bubblicious);
    text-align: center;
    font-size: 6vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 2vh;
}

.box1,
.box2,
.startMailInBtn,
.moreInfoBtn,
.box3,
.box4,
.visitUsBtn {
    margin-top: 3vh;
}

.box5,
.box6 {
    margin-top: 2vh;
}

.startMailInBtn {
    width: 70vw;
}

.moreInfoBtn {
    width: 49vw;
    margin-left: 40vw;
}

@keyframes buttonPress {
    0% {
        transform: translateY(-10px);
        box-shadow: 0px 12px 1px #141211;
    }

    5% {
        transform: translateY(10px);
        box-shadow: 0 0 0;
    }

    10% {
        transform: translateY(-10px);
        box-shadow: 0px 12px 1px #141211;
    }

    100% {
        transform: translateY(-10px);
        box-shadow: 0px 12px 1px #141211;
    }
}

.startMailInBtn,
.moreInfoBtn {
    border: 4px solid black;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: var(--font-bubblicious);
    text-align: center;
    font-size: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    position: relative;
    animation: buttonPress 8s infinite;
}


/* Click or automatic press effect */
.pressed {
    transform: translateY(10px) !important;
    box-shadow: 0 0 0 !important;
}


.startMailInBtn {
    background-color: #1493FF;
}

.moreInfoBtn {
    background-color: var(--color-purple);
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.visitUsBtn {
    background-color: white;
    border: 4px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-bubblicious);
    text-align: center;
    font-size: 6vw;
}

.box1,
.box3,
.box5,
.box6 {
    width: 10.833vw;
    height: 2vh;
}

.box1 {
    margin-left: 60vw;
}

.box6 {
    margin-left: 30vw;
}

.box5 {
    margin-left: 50vw;
}

.box3 {
    margin-left: 20vw;
}

.box4 {
    margin-left: 60vw;
}

.box2 {
    width: 18.333vw;
    height: 3.444vh;
    margin-left: 40vw;
}

.box4 {
    width: 18.333vw;
    height: 3.444vh;
}


.visitUsBtn {
    margin-left: 38vw;
    width: 52vw;
    height: 7vh;
}

/* Container holds both the boxes and the image */
.containerMobile {
    display: flex;
    position: relative;
    /* Allow absolute positioning inside */
    align-items: center;
    /* Align items vertically */
}

.leftSideMobile {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
}

.filmyColorOnly {
    /* width: 272px;  */
    /* width: 75.556vw; */
    width: 16rem;
    height: auto;
}

/* Top-Bar */

.top-bar-mobile {
    margin-top: 3vh;
    position: relative;
    height: 9.597vh;
    /* width: 90vw; */
    border-radius: 50px 50px 0 0;
    border: var(--main-border);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#searchIconMobile {
    width: 9vw;
    height: 4vh;
}

.search-title-mobile {
    font-size: 32px;
    font-family: var(--font-futura);
}

/* Bottom-Bar */

.bottom-bar-mobile {
    position: relative;
    border: var(--main-border);
    background-color: var(--color-purple);
    margin-top: -4px;
}

.header-box-mobile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2vh;
    margin-left: 0;
}

.washSqSubway p {
    color: white;
    font: 400 23px var(--font-futura-maxi);
    margin-bottom: 0;
}

#videoMapIconMobile {
    margin-top: 3vh;
}

.video-map-note-mobile {
    position: absolute;
    top: 1.3vh;
    left: 79%;
    font-family: var(--font-futura);
    font-size: 11px;
    color: white;
}

.wrapTextAndLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box-mobile {
    text-align: left;
    border-radius: 5.556vw;
    border: var(--main-border);
    background-color: var(--color-pink);
    color: var(--color-white);
    padding: 0 3.111vw;
    font: 400 18px var(--font-futura);
    width: 76vw;
}

.location-info-mobile {
    margin-left: 2vw;
    width: 86vw;
    text-align: left;
    color: var(--color-white);
    font: 400 20px var(--font-futura);
}

.location-info-mobile img {
    vertical-align: middle;
}

/* Container to hide part of the image */
.image-container {
    margin-top: 5vh;
    position: relative;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
}

/* Rotated image */
.filmyColorOnlyHalfHidden {
    position: absolute;
    top: 13%;
    left: 63%;
    transform: rotate(-45deg);
}

/* Social Info */

.rectangleContainerMobile {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 96vw;
    height: 50vh;
    margin-top: 5vh;
}

.eyesMobile {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    transform: translateY(0.5rem);
    margin-right: 5vw;
    margin-left: 5vw;
}

.circleMobile {
    background-color: var(--main-background-color);
    border: var(--main-border);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}

.rectContainerBodyMobile {
    align-self: center;
    border: var(--main-border);
    height: 80vh;
    margin-bottom: -1.25rem;
    margin-top: -1.25rem;
    width: 70vw;
    font-family: var(--font-futura-maxi);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addressMobile {
    text-align: center;
}

.hoursMobile,
.phoneNumberMobile {
    margin-top: 10vh;
}

.buzzInContainerMobile {
    position: absolute;
    top: 32%;
    right: 5%;
    transform: rotate(15deg);
}

.buzzInBtn-mobile {
    background-color: #cef101;
    color: black;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 1);
    border-radius: 50%;
    width: 5.25rem;
    height: 4rem;
    font-family: var(--font-futura-maxi);
    cursor: pointer;
}

.feetMobile {
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
    margin-left: 5vw;
}

.socialMediaMobile {
    display: flex;
    justify-content: space-between;
    padding: 0 20vw;
}

.instagramMobile,
.tiktokMobile {
    border-radius: 50%;
    background-color: var(--main-background-color);
    width: 16vw;
    height: 16vw;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 1);
}

#inIconMobile,
#tikIconMobile {
    padding-top: 0.188rem;
    width: 1.938rem;
    height: 1.938rem;
}

.instagramMobile,
.tiktokMobile {
    margin-top: 5vh;
    margin-left: 20vw;
}