@import url(variables.css);

.top-mailin {
  position: relative;
  text-align: center;
  width: 70vw;
  margin-left: 6%;
  border-radius: 50px 50px 0 0;
  border-top: var(--main-border);
  border-left: var(--main-border);
  border-right: var(--main-border);
  font-family: var(--font-futura);
}

.top-mailin,
.bottom-mailin {
  background-color: var(--color-blue);
}


.bottom-mailin p,
.top-mailin h1 {
  font-family: var(--font-futura);
}

.video-container,
.top-mailin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  margin-top: 3vh;
}

.videoDesktop {
  max-width: 100%;
  width: 18.5vw;
  height: 60vh;
}

/* @media screen and (min-height: 2000px) {
  .videoDesktop {
    width: 12.8vw;
    height: 45vh;
  }
  .video-container {
    margin-top: 3vh;
  }
} */

.bottom-mailin {
  position: relative;
  border-left: var(--main-border);
  border-right: var(--main-border);
  border-bottom: var(--main-border);
  margin-left: 6%;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.instructions-container {
  padding-left: 2vw;
}

.instructions-container a {
  text-decoration: none;
}

.bottom-mailin p {
  padding: 10px;
}

.startOrder {
  background-color: var(--color-yellow);
  font-family: var(--font-futura);
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 0.5vw;
  padding: 10px;
}

.startOrder:hover {
  cursor: pointer;
}

.startOrder-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.startOrder-container button a {
  text-decoration: none;
}